html {
    background-color: #333747;
  }
  
  header {
    background: lightgray;
    color: black;
    padding: 25px;
    font-family: "Space Mono";
    border: 1px solid black;
    margin: 20px auto;
    max-width: 1100px;
  }
  
  header h1{
    justify-content: center;
    text-align: center;
    font-family: "Space Mono";
    font-weight: 700;
    font-size: 2.5rem;
  }
  
  header nav ul{
    justify-content: center;
    align-items: center;
    display: flex;
    list-style-type: none;
  }
  
  header nav ul li a{
    margin: 0 50px;
    color: black;
    text-decoration: none;
  }
  
  header nav li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  footer {
    background: lightgray;
    color: black;
    padding: 25px;
    font-family: "Space Mono";
    border: 1px solid black;
    margin: 20px auto;
    max-width: 1100px;
  }
  
  #about-me {
    background: lightgray;
    color: black;
    padding: 25px;
    font-family: "Space Mono";
    border: 1px solid black;
    margin: 20px auto;
    max-width: 1100px;
  }
  
  #about-me h2 {
    font-size: 2rem;
  }
  
  #about-me img {
    height: 300px;
    width: 300px;
    display: flex;
    clip-path: rect(0% 100% 100% 0%);
    border-radius: 25px;
    border: 5px ridge black;
    float: right;
    margin-left: 10px;
    margin: auto;
  }
  
  #about-me .grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  
  #projects {
    background: lightgray;
    color: black;
    padding: 25px;
    font-family: "Space Mono";
    border: 1px solid black;
    margin: 20px auto;
    max-width: 1100px;
  }
  
  #luciddreaminghome {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 50px;
  }
  
  #luciddreaminghome p {
    display: flex;
    text-align: center;
    align-items: center;
  }
  
  #luciddreaminghome-img {
    width: 300px;
    height: 250px;
    display: flex;  
    border: ridge 2px black;
    border-radius: 25px;
    margin: 0px auto;
  }
  
  #luciddreaminghome-img:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
  }
  
  #game-engines {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  
  #game-engines img {
    width: 400px;
    height: 250px;
    display: flex;  
    border: ridge 2px black;
    border-radius: 25px;
    margin: auto;
    margin-left: 20px;
  }
  
  #game-engines img:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
  }
  
  #game-engines p {
    display: flex;
    text-align: center;
    align-items: center;
  }
  
  #gpace {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  
  #gpace img {
    width: 250px;
    height: 250px;
    display: flex;
    border-radius: 57px;
    margin: 20px auto;
  }
  
  #gpace img:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
  }
  
  #gpace p {
    display: flex;
    text-align: center;
    align-items: center;
  }
  
  #skills {
    background: lightgray;
    color: black;
    padding: 25px;
    font-family: "Space Mono";
    border: 1px solid black;
    margin: 20px auto;
    max-width: 1100px;
  }
  
  @media only screen and (max-width: 500px) {
    #about-me img {
      height: 100px;
      width: 100px;
      display: flex;
      clip-path: rect(0% 100% 100% 0%);
      border-radius: 5px;
      border: 5px ridge black;
      float: right;
      margin-left: 10px;
    }
  
    #luciddreaminghome-img {
      transform: scale(.5);
      transition: .5s ease-in-out;
    }
  
    #luciddreaminghome p {
      font-size: 12px;
    }
  }
  
  @media only screen and (max-width: 700px) {
    #game-engines img {
      transform: scale(.5);
      transition: .5s ease-in-out;
    }
  
    #game-engines p {
      font-size: 12px;
    }
  }